<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge" /> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1>Find Weather of the City</h1>
    <div class="div">
      <form action="">
        <input type="text" placeholder="Enter City" /><br />
        <button type="submit">Check</button>
      </form>
    </div>
    <div id="el" class="weather op">
      <img src="#" alt="" id="image" />
      <div class="con">
        <div class="data">
          <p id="1" class="nmk"></p>
          <p id="d1"></p>
        </div>
        <div class="data">
          <p id="2" class="nmk"></p>
          <p id="d2"></p>
        </div>
        <div class="data">
          <p id="3" class="nmk"></p>
          <p id="d3"></p>
        </div>
        <div class="data">
          <p id="4" class="nmk"></p>
          <p id="d4"></p>
        </div>
        <div class="data">
          <p id="5" class="nmk"></p>
          <p id="d5"></p>
        </div>
        <div class="data">
          <p id="6" class="nmk"></p>
          <p id="d6"></p>
        </div>
        <div class="data">
          <p id="7" class="nmk"></p>
          <p id="d7"></p>
        </div>
      </div>
    </div>
    <script src="js/script.js"></script>
  </body>
</html>
